.popup{
    border: solid 1px;
    background-color: #f7dda08b;
    text-align: center;
    width: 15em;
    border-color: #441e18;;
    border-radius: 2em;
    float: right;
    position: sticky;
    top: 0;
    padding: 10px;
}

.popup button{
    background-color: #F39E60;
    color: #441e18;
    border-color: #441e18;
    border-radius: 1em;
    padding: 1em;
}