body{
    
    font-family: "Inter", sans-serif;
    font-weight: 600;
    margin: 2% 5%;
    min-height: 100%;
    background-color: #F39E60;
    color: #441e18;
    padding: 2vw 0;
    
}
.container{
    border: solid 2px black;
    margin: auto;
    background-color: white;
    padding:0 2vw;
 
    
    
}


header{
    border: solid 2px black;
    padding: .5vw;
    background-color: #f7dda0;
    overflow: hidden;
    

}

header ul{
    
    list-style-type: none;
    
}

header li{
    float: right;
    padding: 0 .5vw;
   
}
header a{
    display: block;
    
}
.intro{
    
    display: flex;
    flex-direction: row;
    margin: 0;
    margin-top: 5%;
    gap: 1em;
    /* border: solid 2px black; */
    max-height: 11vw;

  

}
.intro #name{

    border: solid 2px red; 
    font-size: 10vw; 
    color: #441e18;

}

#summary{
    font-size: 2vw;
    
}
.intro #hello{
   
    /* border: solid 2px red; */
    font-size: 4vw;
    line-height: 400%;
}
.desc{
    width: 56vw;
    border: solid 2px red;

}

.intro img{
    
    border: solid 2px red;
    
}

.navigation {
    border: solid 2px green;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 1% 0;
    
}

.nav-button button{ 
      
    width: 10vw;
    padding: 2vw;
    border: solid 2px;
    border-color: black; 
    font-size: 1.25vw;
    background-color: #f7dda0;
    
   
}
.navigation input:hover{
    border: solid 2px red;
}

footer{
    font-size: small;
    text-align: center;
    border: solid 2px black; 
    padding: 10px;
    background-color: #f7dda0;
}

@media screen and (max-width: 450px) {

    body{
        margin-top: 30%;
    }
 
    .container{
        padding: 2vw;
        
    }

    .intro{
        display: inline;
        margin: 5%;
        
        
    }

    

    .intro img{
        width: 12%;
    }

    .desc{
        width: 100%;
        text-align: center;
    }

    #summary{
        display: none;
    }

    .navigation{   
        flex-direction: column;
        width: 100%;
        margin: auto;
        align-items: center;
    }

    .nav-button button{   
        width: 50vw;
        padding: 2vw;
        margin: 2vw;
        font-size: 3vw;
    }

    

    

}